.window_dashboard
{
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
	border-radius: 12px;
	margin: 30px 0;
}

.header_window_dashboard
{
	height: 45px;
	background-color: #34b1bc;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: 4px #279fa9 solid;
}


.header_window_dashboard h2
{
	padding: 0;
	margin: 0;
	color: #ffffff;
	font-family: 'Biko Bold';
	font-weight: normal;
	line-height: 2.1em;
	text-indent: 1em;
	font-size: 1.4em;
}



.content_window_dashboard
{
	text-align: center;
	padding: 30px;
	padding-bottom: 70px;
	line-height: 1.4em;
	color: #666666;
}

#content
{
	margin: 40px 0;
	text-align: center;
}

body
{
	background-color: #ececed;
}

.arrow_footer
{
	background-image: url('../img/arrow_footer_grey.svg');
}


.enter_forget
{
	font-family: 'Biko Bold';
	font-size: 1.4em;
	margin: 15px;
	color: #666666;
}



.forget_input
{
	margin-left: 30px;
	padding: 7px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 2px #d5d5d5 solid;
	border-right: 0;
	font-size: 1em;
	transition: all 0.5s;
	width: 530px;
	color: #666666;
}

.forget_input:focus
{
	border-color: #34b1bc;
}



.forget_submit
{
	background-color: #34b1bc;
	text-align: center;
	color: #ffffff;
	transition: all 0.3s;
	text-decoration: none;
	font-size: 1rem;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 0;
	padding: 9px 26px;
}


.sign_in_error
{
	display: none;
	font-family: 'Biko Bold';
	color: #e66d75;
	background-image: url('../img/input_cross.svg');
	background-repeat: no-repeat;
	background-position: 282px 3px;
	margin: 15px;
	margin-bottom: 0;
	font-size: 1.2em;
}

.input_error
{
	border-color: #e66d75;
}