#items_menu
{
	width: 643px;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 70px;
}

#items_menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#items_menu li
{
	display: inline-block;
	position: relative;
}

#items_menu li a
{
	text-align: center;
	color: #ffffff;
	font-size: 1.2em;
	text-decoration: none;
	background-color: #424242;
	border-bottom: 6px #696969 solid;
	display: inline-block;
	padding: 20px 20px 14px 20px;
	width: 120px;
	transition: all 0.3s;
}

#items_menu li a:hover, .items_menu_last:hover
{
	background-color: #34b1bc;
	border-color: #279fa9;
}

#items_menu li a:active
{
	background-color: #279fa9;
}

.items_menu_first
{
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-left: 3px #696969 solid;
}

.items_menu_last
{
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#items_menu_content ul
{
	display: none;
	position: absolute;
}

#items_menu_content li:hover > ul
{
	display: block;
	padding-top: 20px;
	background-image: url('../img/arrow_nav.svg');
	background-repeat: no-repeat;
	background-position: 65px 10px; /* 9px = entier  */
	z-index: 50;
}

#items_menu_content li li:hover > ul
{
	left: 243px;
	top: 0;
	padding-top: 0;
	padding-left: 11px;
}

#items_menu_content li li
{
	background-color: #424242;
}

#items_menu_content li li a
{
	border: 0;
	width: 199px;
	margin: 2px 5px;
	padding: 8px;
	padding-right: 28px;
	font-size: 1.1em;
	text-align: left;
	border-radius: 5px;
}

#items_menu_content li li:first-child
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


#items_menu_content li li:last-child
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 5px #696969 solid;
}

#items_menu_content li li:first-child a
{
	margin-top: 5px;
}

#items_menu_content li li:last-child a
{
	margin-bottom: 5px;
}

.items_menu_plus
{
	background-image: url('../img/arrow_sub.svg');
	background-repeat: no-repeat;
	background-position: 214px 11px;
}

.items_menu_content_search a
{
	width: 251px !important;
}


#items_menu_content .items_menu_last_li:hover > ul
{
	display: block;
	margin-left: -85px;
	padding-top: 20px;
	background-image: url('../img/arrow_nav.svg');
	background-repeat: no-repeat;
	background-position: 149px 10px; /* 9px = entier  */
	z-index: 50;
}

#items_menu_content .items_menu_last_li:hover > ul a
{
	text-align: right;
}


#items_menu_content .items_menu_last_li li:hover > ul
{
	width: 245px;
	left: -254px;
	top: 0;
	padding-top: 0;
	padding-right: 9px;
	padding-left: 0;
}

#items_menu_content .items_menu_last_li li a
{
	border: 0;
	width: 199px;
	margin: 2px 5px;
	padding: 8px;
	padding-left: 28px;
	font-size: 1.1em;
	text-align: left;
	border-radius: 5px;
}


.items_menu_last_li .items_menu_plus
{
	background-image: url('../img/arrow_sub_inverse.svg');
	background-repeat: no-repeat;
	background-position: 14px 11px;
}







.content_window_dashboard
{
	padding: 30px;
}




#id_categorie_s, #id_sous_categorie_s, #id_categorie_c
{
	margin-left: 5px;
}



.add_sous_cat_input
{
	visibility: hidden;
	opacity: 0;
	margin-left: 10px;
	padding: 7px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 2px #d5d5d5 solid;
	border-right: 0;
	font-size: 1em;
	transition: all 0.5s;
	width: 200px;
	color: #666666;
}

.add_sous_cat_input:focus
{
	border-color: #696969;
}



.add_sous_cat_submit
{
	visibility: hidden;
	opacity: 0;
	background-color: #696969;
	text-align: center;
	color: #ffffff;
	transition: all 0.3s;
	text-decoration: none;
	font-size: 1rem;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 0;
	padding: 9px 26px;
}




.header_window_dashboard
{
	background-color: #696969;
}

.header_window_dashboard h2
{
	text-indent: 2em;
	background: url('../img/pencil.svg') no-repeat 12px 10px;
}