.container
{
	width: 410px;
}

#sign_in
{
	min-height: 350px;
}

#header_sign_in
{
	font-family: 'Biko Bold';
	background-color: #34b1bc;
	padding: 11px 11px 7px 20px;
	font-size: 1.3em;
	color: #ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 4px #279fa9 solid;
}

#frame_sign_in
{
	background-color: #ffffff;
	padding: 10px;
	overflow: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	transition: all 0.3s;
}

.input_text_password
{
	padding: 11px;
	font-size: 1em;
	border: 2px #ececed solid;
	border-radius: 6px;
	width: 320px;
	transition: all 0.3s;
	color: grey;
}

.input_text_password:focus
{
	border-color: #34b1bc;
}

.input_submit
{
	width: 346px;
	height: 41px;
	background-color: #34b1bc;
	color: #ffffff;
	transition: all 0.3s;
	font-size: 1em;
	border-radius: 6px;
	border: 0;
	margin: 15px 0;
}

.input_submit:hover
{
	background-color: #52bec8;
}

.input_submit:active
{
	background-color: #279fa9;
}

.sign_in_error
{
	color: #e66d75;
	background-image: url('../img/input_cross.svg');
	background-repeat: no-repeat;
	background-position: 126px 0;
	margin: 0;
}

.input_error
{
	border-color: #e66d75;
}